:root {
  --section-width: 70vw;
  --article-height: 60%;
  --article-width: 30%;
  --sedan-color: #e28525;
  --suv-color: #016972;
  --luxury-color: #00403f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}
html {
  background-color: hsla(0, 0%, 100%, 0.75);
}
body {
  display: grid;
  place-content: center;
}
section {
  display: flex;
  align-items: center;
  height: 100svh;
  width: var(--section-width);
}
article {
  background-color: blue;
  display: flex;
  align-items: start;
  justify-content: space-between;

  flex-direction: column;
  padding: 48px;
  height: var(--article-height);
  width: var(--article-width);
}
article:nth-child(1) {
  background-color: var(--sedan-color);
}
article:nth-child(2) {
  background-color: var(--suv-color);
}
article:nth-child(3) {
  background-color: var(--luxury-color);
}
p {
  min-height: 50%;
  border: 1px solid white;
  font-family: "Lexend Deca", serif;
  font-weight: 400;
}
h1 {
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700;
  font-size: 300%;
}
.icon {
  height: 50px;
}
.learn-more {
  aspect-ratio: 3/1;
  height: 48px;
  border-radius: 25px;
}
/* DEAFAULT ATTRIBUTES FROM FRONTEND MENTOR */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
