:root {
  --section-width: 70vw;
  --section-border-radius: 10px;
  --article-height: 60%;
  --article-width: 30%;
  --bg-color: hsl(0, 0%, 95%);
  --p-bg-color: hsla(0, 0%, 100%, 0.75);
  --sedan-color: #e28525;
  --suv-color: #016972;
  --luxury-color: #00403f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}
html {
  background-color: var(--bg-color);
}
body {
  display: grid;
  place-content: center;
}
section {
  display: flex;
  align-items: center;
  height: 100svh;
  width: var(--section-width);
}
article {
  background-color: blue;
  display: flex;
  align-items: start;
  justify-content: space-between;

  flex-direction: column;
  padding: 58px;
  height: var(--article-height);
  width: var(--article-width);
}
article:nth-child(1) {
  border-radius: var(--section-border-radius) 0 0 var(--section-border-radius);

  background-color: var(--sedan-color);
}
article:nth-child(1) > a > button {
  color: var(--sedan-color);
}
article:nth-child(2) {
  background-color: var(--suv-color);
}
article:nth-child(2) > a > button {
  color: var(--suv-color);
}
article:nth-child(3) {
  border-radius: 0 var(--section-border-radius) var(--section-border-radius) 0;
  background-color: var(--luxury-color);
}
article:nth-child(3) > a > button {
  color: var(--luxury-color);
}
h1 {
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700;
  font-size: 300%;
  color: var(--bg-color);
}
p,
.learn-more > h2 {
  font-family: "Lexend Deca", serif;
  font-weight: 400;
}
p {
  font-size: 1.3rem;
  opacity: 0.7;
  line-height: 1.5;
  min-height: 50%;
  color: var(--p-bg-color);
}
.learn-more {
  background-color: var(--bg-color);
  cursor: pointer;
  border: none;
}
.learn-more:hover {
  background-color: rgb(0, 0, 0, 0);
  border: solid var(--bg-color) 2px;
  color: var(--bg-color);
}
.learn-more > h2:hover {
  color: var(--bg-color);
}
.icon {
  height: 50px;
}
.learn-more {
  aspect-ratio: 3/1;
  height: 48px;
  border-radius: 25px;
}
/* DEAFAULT ATTRIBUTES FROM FRONTEND MENTOR */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
